/* index - página inicial */

body {
	margin: 0px;
    font-family: "arial", sans-serif;
}

/* titulo biblioteca */
h3 {
	background: #FFA500;
	padding: 20px;
	color: white;
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: left;
}

/* subtitulos*/
h4 {
	background: #FFA500;
	padding: 20px;
	color: white;
	display: flex;
}

/* subtitulo cadastro */
.Cadastros {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: left;
    margin-top: 20px;
}

/* subtitulo listas */
.listas {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: right;
}

.clearfix {
	clear: both;
}

/* animação nos links */
a {
    color: grey;
    transition: all .6s ;
    text-decoration: none;
}

a:hover {
        font-size:1.2em;
        color: white;
        text-decoration: none;
        -webkit-text-stroke: 2px #303030; 
        transition-timing-function: ease-in-out;
}

/* página de cadastrar alunos */

.aluno {
    color: #cc7000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/*página de cadastrar area*/
.area {
    color: #cc7000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/*página de cadastrar livro*/
.livro {
    color: #cc7000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/*página de realizar reserva*/
.reserva {
    color: #cc7000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* página de editar aluno */

#editar_aluno {
    color: #cc7000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
} 

/* página de editar area */
#editar_area {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
} 

/* página de editar livro*/
#editar_livro {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: #cc7000;
}

/* Área exclusiva de excluir*/
#delete {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: #FFA500;	
}

/* listas */

table, .dif td {
	background: white;
    margin: auto;
    border-color: #ffb52b;
}

.titulo2 {
    text-align: center;
    color: #cc7000;
}
